ORDER_SERVICE_URL=http://localhost:8081
LIVE_SERVICE_URL=http://localhost:8084
NEXT_PUBLIC_ORDER_SOCKET_URL=ws://localhost:8081/ws/orders
NEXT_PUBLIC_LIVE_SOCKET_URL=ws://localhost:8084/ws/live
NEXT_PUBLIC_LIVE_VIDEO_URL=
