GATEWAY_URL=http://localhost:8080
NEXT_PUBLIC_ORDER_SOCKET_URL=ws://localhost:8080/ws/orders
NEXT_PUBLIC_LIVE_SOCKET_URL=ws://localhost:8080/ws/live
NEXT_PUBLIC_LIVE_VIDEO_URL=
NEXT_PUBLIC_TOSS_CLIENT_KEY=test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm
