PUBLIC_HOST=live.javohir.dev
ORDER_DB_PASSWORD=
PAYMENT_DB_PASSWORD=
INVENTORY_DB_PASSWORD=
AUTH_DB_PASSWORD=
DELIVERY_DB_PASSWORD=
ADMIN_EMAIL=admin@livecommerce.local
ADMIN_PASSWORD=
COURIER_WEBHOOK_SECRET=
PAYMENTS_FAKE_ENABLED=false
